{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  org.clojure/clojurescript {:mvn/version "1.10.914"}
  io.github.com-junkawasaki/langgraph-clj {:local/root "../../com-junkawasaki/langgraph-clj"}
  io.github.kotoba-lang/langchain-clj {:mvn/version "0.0.1-SNAPSHOT"}
  io.github.kotoba-lang/langchain-store {:local/root "../../kotoba-lang/langchain-store"}}

 :aliases
 {:dev {:extra-paths ["dev" "test"]
        :extra-deps {org.clojure/tools.namespace {:mvn/version "1.4.4"}
                     org.clojure/test.check {:mvn/version "1.1.1"}
                     io.github.kotoba-lang/langchain-clj {:mvn/version "0.0.1-SNAPSHOT"}}}

  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}
         :main-opts ["-m" "clojure.main" "-m" "amusementfacilityops.test"]}

  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.06"}}
         :main-opts ["-m" "clj-kondo.core" "--lint" "src" "test"]}}}
