{:kotoba.app/id "cloud.itonami.isic-932", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicyim3434uzqribgi37tjhlnrnmhpkhtgctledf5hw6sxm5qd6uzm", :kotoba.app/embed-url "ipfs://bafkreicyim3434uzqribgi37tjhlnrnmhpkhtgctledf5hw6sxm5qd6uzm", :published {:archive "https://kotobase.net/ipfs/bafkreicyim3434uzqribgi37tjhlnrnmhpkhtgctledf5hw6sxm5qd6uzm", :size 71717, :put-status 201, :get-status 200, :at "2026-08-15T13:34:55.162Z"}}
